name: Push (main)

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  Build:
    strategy:
      matrix:
        variant: [default, godot]
    uses: ./.github/workflows/_build.yml
    secrets: inherit
    permissions:
      actions: read
      contents: read
      packages: write
    with:
      variant: ${{ matrix.variant }}
      push: true
